@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #00040b;
    color: #f1f2f0;
}
.menu{
    background-image: url(../img/header/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.logocentro{
    width: 80%;
    margin: 0 auto;
    display: block;
    transition: 0.5s;
}
.logocentro.desativo{
    width: 80%;
    margin: 0 auto;
    display: none;
    transition: 0.5s;
}
.logo{
    height: 23vw;
    width: 23vw;
    display: block;
    margin: 0 auto;
    height: auto;
}
.navegacao{
    background-color: rgba(13, 13, 13, 0.7);
    transition: 0.5s;
    width:100%;
}
.navegacao.sticky{
    top: 0;
    position: fixed;
    transition: 0.5s;
}
.navegacao ul{
    display: flex;
}
.navegacao ul li{
    list-style:none;
    cursor:pointer;
    display:block;
    font-family: 'Special Elite', cursive;
    font-size: 3vw;
    margin-left: 8.15vw;
}
.navegacao ul li a{
    text-decoration: none;
    color: #9A9A9A;
    
}
p{
    font-size: 2vw;
}