@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
h1{
    font-family: 'Special Elite', cursive;
    text-align: center;
    font-size: 2.5vw;
    color: #FFFFFF;
    background-image: url(../img/background_divisoria.png);
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height: 5vw;
    padding-top: 2vw;
}
#news h1{
    margin-top: 5vw;
}
.noticia img{
    border: 0.1vw solid #9a9a9a ;
    height: 22vw;
    width: 22vw;
}
#noticia1{
    float: left;
    width: 25%;
}


#setlist{
    justify-content: center;
    align-items: center;
    text-align: center;
}
#setlist img{
    height: 35vw;
    width: 20vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
