/* Importa uma fonte do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
h1{
    font-family: 'Special Elite', cursive; /*Definica fonte a fonte Special Elite é um fonte importada do google */
    text-align: center; /*Define o alinhamento horizontal do texto como centralizado*/
    font-size: 2.5vw; /*Define o tamanho da fonte do elemento h1 em unidades relativas à largura da tela em porcentagem (vw)*/
    color: #FFFFFF; 
    background-image: url(../img/background_divisoria.png); /*Define uma imagem de fundo*/
    background-repeat: no-repeat;/* Define que a imagem de fundo não deve ser repetida*/ 
    background-size: cover;/*Define o tamanho da imagem de fundo para cobrir todo o elemento*/
    width:100%;
    height: 5vw;
    padding-top: 2vw;
}
#news h1{
    margin-top: 5vw;
    margin-bottom: 5vw;
}
.noticia{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}
/* Ajuste de todas as <img></img> dentro da clss noticia */
.noticia img{
    border: 0.1vw solid #9a9a9a ;
    height: 22vw;
    width: 22vw;
    margin-left: auto;
    margin-right: auto;
}
/* Ajuste de todas as <p></p> dentro da clss noticia */
.noticia p{
    font-family: 'Special Elite', cursive;
    text-align: center;
    font-size: 1.7vw;
    color: #FFFFFF;
    padding-left: 5.5vw;
    padding-right: 5.5vw;
}
#show{
    margin-top: 1vw;
    margin-bottom: 5vw;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* Ajuste de todas as <img></img> dentro da id show*/
#show img{
    border: 0.1vw solid #9a9a9a ;
    height: 39vw;
    width: 70vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vw;
}
#setlist{
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* Ajuste de todas as <img></img> dentro da id setlist*/
#setlist img{
    height: 35vw;
    width: 25vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 0.1vw solid #9a9a9a ;
    margin-top: 2vw;
}