/* Importa uma fonte do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
/* Define a estilização para o título dentro do elemento com id "news" */
#news h1{
    margin-bottom: 5vw;
}
/* Define a estilização para os elementos com classe "noticia" */
.noticia{
    display: grid;
    grid-template-columns: repeat(3, 1fr);/* Define a largura das três colunas em um grid usando a unidade "fr". A unidade "fr" é uma unidade de medida de "espaço livre disponível", o que significa que a largura de cada coluna será calculada automaticamente com base no espaço disponível no container do grid. */
    text-align: center;
}
/* Ajuste de todas as <img></img> dentro da classe "noticia" */
.noticia img{
    border: 0.1vw solid #9a9a9a ;/* Define uma borda sólida com 0.1vw de espessura e cor #9a9a9a */
    height: 20vw;
    width: 20vw;
    margin-left: auto;
    margin-right: auto;
}
/* Ajuste de todas as <p></p> dentro da classe "noticia" */
.noticia p{
    font-family: 'Special Elite', cursive;
    text-align: center;
    font-size: 1vw;
    color: #FFFFFF;
    padding-left: 5.5vw;
    padding-right: 5.5vw;
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
}
/* Define a estilização para o elemento com id "show" */
#show{
    margin-top: 1vw;
    margin-bottom: 5vw;
    justify-content: center;/* Centraliza os itens no eixo horizontal do container, fazendo com que eles fiquem igualmente espaçados à esquerda e à direita. */
    align-items: center;
    text-align: center;
}
/* Define a estilização para o elemento com id "show" */
#show iframe{
    height: 26vw;
    width: 47vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vw;
}
/* Define a estilização para o elemento com id "show" */
#setlist{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1vw;
}
/* Ajuste de todas as <img></img> dentro da id "setlist" */
#setlist img{
    height: 24vw;
    width: 17vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 0.1vw solid #9a9a9a ;
    margin-top: 2vw;
}