/* Importa uma fonte do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
#news h1{
    margin-bottom: 5vw;
}
.noticia{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}
/* Ajuste de todas as <img></img> dentro da clss noticia */
.noticia img{
    border: 0.1vw solid #9a9a9a ;
    height: 20vw;
    width: 20vw;
    margin-left: auto;
    margin-right: auto;
}
/* Ajuste de todas as <p></p> dentro da clss noticia */
.noticia p{
    font-family: 'Special Elite', cursive;
    text-align: center;
    font-size: 1vw;
    color: #FFFFFF;
    padding-left: 5.5vw;
    padding-right: 5.5vw;
}
#show{
    margin-top: 1vw;
    margin-bottom: 5vw;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* Ajuste de todas as <img></img> dentro da id show*/
#show img{
    border: 0.1vw solid #9a9a9a ;
    height: 26vw;
    width: 47vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vw;
}
#setlist{
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* Ajuste de todas as <img></img> dentro da id setlist*/
#setlist img{
    height: 24vw;
    width: 17vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 0.1vw solid #9a9a9a ;
    margin-top: 2vw;
}