@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
.jaraguenses{
    text-align: left;
    display: grid;
    grid-template-columns: repeat(2, 0.4fr); 
}
.jaraguenses img{
    height: 20vw;
    width: 20vw;
    margin-left: 7vw;
    margin-right: auto;
    margin-top: 3vw;
    margin-bottom: 7vw;
}
.jaraguenses p{
    font-family: 'Special Elite', cursive;;
    font-size: 1.80vw;
    margin-top: 10vw;
    margin-right: -12vw;
}
.stonelich{
    text-align: right;
    display: grid;
    grid-template-columns: repeat(2, 0.4fr);
}
.stonelich img{
    height: 20vw;
    width: 20vw;
    margin-left: 7vw;
    margin-right: -9vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
}
.stonelich p{
    font-family: 'Special Elite', cursive;;
    font-size: 1.80vw;
    margin-top: 10vw;
    margin-right: -16vw;
    margin-left: 5vw;
}
.channels{
    text-align: left;
    display: grid;
    grid-template-columns: repeat(2, 0.4fr); 
}
.channels img{
    height: 20vw;
    width: 20vw;
    margin-left: 7vw;
    margin-right: auto;
    margin-top: 3vw;
    margin-bottom: 7vw;
}
.channels p{
    font-family: 'Special Elite', cursive;;
    font-size: 1.80vw;
    margin-top: 10vw;
    margin-right: -12vw;
}