/* Importa uma fonte do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
*{  
    /* Define a margem como 0 para todos os elementos */
    margin: 0;
    /* Define o preenchimento como 0 para todos os elementos */
    padding: 0;
    /* Define a caixa de conteúdo como borda-box para que o tamanho total do elemento inclua as bordas e o preenchimento */
    box-sizing: border-box;
}
body{
    background-image: url(../img/fundoHTML.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #f1f2f0;
}
.menu{
    background-image: url(../img/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.logocentro{
    width: 80%;
    margin: 0 auto;
    display: block;
    transition: 0.5s;
    animation-duration: 2s;
    animation-name: slidein;
}
@keyframes slidein {
    from {
      margin-bottom: 5%;
      height: 15%
    }
  
    to {
      margin-bottom: 0%;
      height: 0%;
    }
  }
.logo{
    height: 23vw;
    width: 23vw;
    display: block;
    margin: 0 auto;
    height: auto;
}
.navegacao{
    background-image: url(../img/borninha.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.75;
    transition: 0.5s;
    width:100%;
    height: 5vw;
    padding-top: 2vw;
}
.navegacao ul{
    display: flex;
}
.navegacao ul li{
    list-style:none;
    cursor:pointer;
    display:block;
    font-family: 'Special Elite', cursive;
    font-size: 3vw;
    margin-left: 8.55vw;
}
.navegacao ul li a{
    text-decoration: none;
    color: #9A9A9A;
}
.navegacao ul li a:hover{
    text-decoration: none;
    color: #ffffff;
}
.corpo{
    margin-bottom: -2.5vw;
    margin-left: 10vw;
    margin-right: 10vw;
    background-color: #080a0e;
    padding-bottom: 2.5vw;
    box-shadow: 0px 0px 5vw 0px rgb(0, 0, 0);
}
.corpo h1{
    font-family: 'Special Elite', cursive; /*Definica fonte a fonte Special Elite é um fonte importada do google */
    text-align: center; /*Define o alinhamento horizontal do texto como centralizado*/
    font-size: 2vw; /*Define o tamanho da fonte do elemento h1 em unidades relativas à largura da tela em porcentagem (vw)*/
    color: #FFFFFF; 
    background-image: url(../img/background_divisoria.png); /*Define uma imagem de fundo*/
    background-repeat: no-repeat;/* Define que a imagem de fundo não deve ser repetida*/ 
    background-size: cover;/*Define o tamanho da imagem de fundo para cobrir todo o elemento*/
    width:100%;
    height: 5vw;
    padding-top: 2vw;
}
.footer{
    background-image: url(../img/BordaCor.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 10vw;
    background-repeat: no-repeat;
    font-family: 'special elite', cursive;
    padding-top: 4.5vw;
    font-size: 1.2vw;
    text-align: center; 
    
}
.fotterleft{
    color: #9A9A9A;
    float: left;
    width: 50%;
}
.fotterleft a{
    text-decoration: none;
    color: #9A9A9A;
}
.fotterleft a:hover{
    text-decoration: none;
    color: #ffffff;
}
.fotterright{
    float: right;
    width: 50%;
}
.fotterright img{
    height: 3vw;
    width: 3vw;
    margin-left: 1vw;
}


