/* Importa uma fonte do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.corpo{
    margin-left: 10vw;
    margin-right: 10vw;
    background-color: #080a0e;
}
body{
    background-color: #00040b;
    color: #f1f2f0;
}
.menu{
    background-image: url(../img/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.logocentro{
    width: 80%;
    margin: 0 auto;
    display: block;
    transition: 0.5s;
}
.logocentro.desativo{
    width: 80%;
    margin: 0 auto;
    display: none;
    transition: 0.5s;
}
.logo{
    height: 23vw;
    width: 23vw;
    display: block;
    margin: 0 auto;
    height: auto;
}
.navegacao{
    background-image: url(../img/borninha.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.75;
    transition: 0.5s;
    width:100%;
    height: 5vw;
    padding-top: 2vw;
}
.navegacao.sticky{
    background-image: none;
    background-color: rgba(13, 13, 13, 0.9);
    top: 0;
    position: fixed;
    transition: 0.5s;
}
.navegacao ul{
    display: flex;
}
.navegacao ul li{
    list-style:none;
    cursor:pointer;
    display:block;
    font-family: 'Special Elite', cursive;
    font-size: 3vw;
    margin-left: 8.15vw;
}
.navegacao ul li a{
    text-decoration: none;
    color: #9A9A9A;
}
.navegacao ul li a:hover{
    text-decoration: none;
    color: #ffffff;
}
.footer{
    background-image: url(../img/BordaCor.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 10vw;
    background-repeat: no-repeat;
    font-family: 'special elite', cursive;
    padding-top: 4.5vw;
    font-size: 1.2vw;
    text-align: center; 
}
.fotterleft{
    color: #9A9A9A;
    float: left;
    width: 50%;
}
.fotterleft a{
    text-decoration: none;
    color: #9A9A9A;
}
.fotterleft a:hover{
    text-decoration: none;
    color: #ffffff;
}
.fotterright{
    float: right;
    width: 50%;
}
.fotterright img{
    height: 3vw;
    width: 3vw;
    margin-left: 1vw;
}


