@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #00040b;
    color: #f1f2f0;
}
.menu{
    background-image: url(../img/header/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.logocentro{
    width: 80%;
    margin: 0 auto;
    display: block;
    transition: 0.5s;
}
.logocentro.desativo{
    width: 80%;
    margin: 0 auto;
    display: none;
    transition: 0.5s;
}
.logo{
    height: 23vw;
    width: 23vw;
    display: block;
    margin: 0 auto;
    height: auto;
}
.navegacao{
    background-image: url(../img/header/borninha.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    transition: 0.5s;
    width:100%;
    height: 5vw;
    padding-top: 2vw;
}
.navegacao.sticky{
    background-image: none;
    background-color: rgba(13, 13, 13, 0.9);
    top: 0;
    position: fixed;
    transition: 0.5s;
}
.navegacao ul{
    display: flex;
}
.navegacao ul li{
    list-style:none;
    cursor:pointer;
    display:block;
    font-family: 'Special Elite', cursive;
    font-size: 3vw;
    margin-left: 8.15vw;
}
.navegacao ul li a{
    text-decoration: none;
    color: #9A9A9A;
}
.footer{
    background-image: url(../img/header/BordaCor.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 10vw;
    background-repeat: no-repeat;
    font-family: 'special elite', cursive;
    float:inline-start;
    padding-top: 4vw;
    font-size: 2.1vw;
    text-align: center; 
}
.fotterleft{
    color: #9A9A9A;
    float: left;
    width: 50%;
}
.fotterleft a{
    text-decoration: none;
    color: #9A9A9A;
}
.fotterright{
    float: right;
    width: 50%;
}
.fotterright img{
    height: 5vw;
    width: 5vw;
    margin-left: 2vw;
}

