/* Importa a fonte "Special Elite" do Google Fonts para ser usada no CSS. */
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
/* Define que todos os elementos do HTML devem ter margem e preenchimento 0 e a propriedade box-sizing como border-box, que inclui o preenchimento e a borda no tamanho total do elemento. */
*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #00040b;
    color:#f1f2f0;
}
/* Define uma imagem de fundo para a classe .menu e estilos de posição e tamanho para a classe .logo. */
.menu{
    background-image: url(../img/header/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.logo{
    margin-top: 10px;
    margin-left: 100px;
    height: 350px;
    width: 350px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
/* Define estilos para a barra de navegação (classe .navegacao), incluindo posição, tamanho, cor de fundo, alinhamento e duração da transição. */
.bordinha{
    margin-bottom: -0.24em;
    opacity: 0.7;

}
.navegacao{
    top:0;
    left:0;
    z-index:100;
    display:flex;
    width:100%;
    height:50px;
    background-color: rgba(13, 13, 13, 0.7);
    align-items:center;
    justify-content: space-around;
    transition: 0.5s;
}
/* Define estilos adicionais para a barra de navegação quando ela se torna "fixa" (classe .sticky), incluindo cor de texto, cor de fundo e altura. */
.navegacao.sticky{
    position: fixed;
    color: #fff;
    background:#000;
    height:60px;
    transition: 0.5s;
}

/* Define estilos adicionais para a barra de navegação quando ela se torna "fixa" (classe .sticky), incluindo cor de texto, cor de fundo e altura. */
ul{
    display: flex;
}
ul li{
    list-style:none;
    padding: 70px; 
    cursor:pointer;
    display:block;
    font-family: 'Special Elite', cursive;
    
    font-size: 1.8em;
  
  }
ul li a{
    text-decoration: none;
    color: #9A9A9A;
}
p{
    font-size: 10em;
}